_putchar.c
_islower.c
_isalpha.c
_abs.c
_isupper.c
_isdigit.c
_strlen.c
_puts.c
_strcpy.c
_atoi.c
_strcat.c
_strncat.c
_strncpy.c
_strcmp.c
_memset.c
_memcpy.c
_strchr.c
_strspn.c
_strpbrk.c
_strstr.c

lib_isalpha.o  
lib_memcpy.o  
lib_strcat.o  
lib_strlen.o   
lib_strspn.o
lib_isdigit.o  
lib_memset.o   
lib_strchr.o  
lib_strncat.o  
lib_strstr.o
lib_abs.o   
lib_islower.o  
lib_putchar.o  
lib_strcmp.o  
lib_strncpy.o 
lib_atoi.o  
lib_isupper.o  
lib_puts.o     
lib_strcpy.o  
lib_strpbrk.o
